body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scroll bars caused by the gradient overflow */
}

.gradient-background {
    background: linear-gradient(to bottom, #ffddb3, #502c2c); /* Background gradient using two colors */
    color: #fff; /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 40vh; /* Adjust as needed */
    animation: fadeIn 1s ease-in-out; /* Fade-in animation */
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.gradient-background h1 {
    align-self: center;
    opacity: 0; /* Set initial opacity to 0 for fade-in effect */
}

/* Keyframes for the fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}